
<!doctype html>
<html lang="en">

<head>
	<title>SendIt | Create</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="../img/favicon.ico">
	
	<!-- font files -->
	<link href="../css/create.css" rel='stylesheet' type='text/css' media="all" />
	<!-- /css files -->
</head>

<body>
 <header>
      <div class="container">
        <div id="Name">
          <h1><span class="SendIT">SendIT</span></h1>
        </div>
        <nav>
          <ul>
             <li class="Hapa" style="font-family: sans-serif";><a href="">Delivered</a></li>
              <li class="Hapa" style="font-family: sans-serif";><a href="">In Transit</a></li>
            <li><a href="#">Log OUT</a></li>
          </ul>
        </nav>
      </div>
    </header>
	<h1 class="header-w3l">Courier Order Form</h1>
	<div class="content-agile">
		<div class="form-main">
			<form action="#" method="post">
				<div class="content-agile-three1">
					<div class="grid-shop1-agile">
						<div class="form-control-w3">
							<label class="header-w3l">Name</label>
							<input type="text" name="name" placeholder="Name" title="Please enter your Full Name" required="">
						</div>
						<div class="form-control-w3">
							<label class="header-w3l">Email</label>
							<input type="email" name="email" placeholder="Mail@example.com" title="Please enter a Valid Email Address" required="">
						</div>
						<div class="form-control-w3">
							<label class="header-w3l">Contact Number</label>
							<input type="text" name="number" placeholder="xxx xxx xxxx" title="Please enter your Phone Number" required="">
						</div>
						<div class="form-produ">
							<label class="rating-w3l">Products</label>
				        <div class="form-control-w3">
							<input type="text" name="name" placeholder=" Item Name" title="Please enter your Product Name" required="">
						</div>
				        <div class="form-control-w3">
							<input type="text" name="number" placeholder="Model Number" title="Please enter your Product Model Number" required="">
						</div>
						</div>
					</div>
				</div>
				<div class="form-main-1">
					<div class="form-control-w3">
						<label class="header-w3l ">Delivery Address</label>
						<input type="text" name="name" placeholder="From" title="Please enter where it comes from" required="">
						<input type="text" name="name" placeholder="To" title="Please enter wher it goes to" required="">
						<input type="text" name="name" placeholder="Receipient Name" title="Please enter the Receivers name" required="">
						<input type="text" name="name" placeholder="Phone Number" title="Please enter your Phone Number" required="">
					</div>
					<div class="threesubmitaits">
						<input type="submit" name="submit" value="Order">
					</div>
				</div>
				<div class="clear"></div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	
	
</body>

</html>