<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SendIt | User</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="../css/UserIn.css"/>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <style>
       
    </style>
</head>

<body>
    <header>
      <div class="container">
        <div id="Name">
          <h1><span class="SendIT">SendIT</span></h1>
        </div>
        <nav>
          <ul>
             <li class="Hapa" style="font-family: sans-serif";><a href="">Delivered</a></li>
              <li class="Hapa" style="font-family: sans-serif";><a href="">In Transit</a></li>
            <li><a href="#">Log OUT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <button class="button button1">Create New</button>
    
    <table id="customers">
    
  <tr>
    <th>Date</th>
    <th>Courier ID</th>
    <th>From</th>
    <th>To</th>
    <th>Item</th>
    <th>Status</th>
    <th style="width: 250px"; class="center">Action</th>
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>Delivered</td>
    <td>
        <div class="tile_div">
    <a href="#">View</a>
    <a href="#">Edit</a>
    <a href="#" class="last">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
    
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>On going</td>
    <td>
        <div class="tile_div">
    <a href="#">View</a>
    <a href="#">Edit</a>
    <a href="#" class="last">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>Delivered</td>\<td>
        <div class="tile_div">
    <a href="#">View</a>
    <a href="#">Edit</a>
    <a href="#" class="last">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
  </tr>
</table>
    

</body>
</html>

