<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SendIt | User</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="../css/UserIn.css"/>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <style>
       
    </style>
</head>

<body>
    <header>
      <div class="container">
        <div id="Name">
          <h1><span class="SendIT">SendIT</span></h1>
        </div>
        <nav>
          <ul>
             <li class="Hapa" style="font-family: sans-serif";><a href=""><strong id="ind">25</strong> Delivered</a></li>
              <li class="Hapa" style="font-family: sans-serif";><a href=""><strong id="ind">25</strong> In Transit</a></li>
            <li><a href="Login.html" class = "btn-logout">Log OUT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <button class="button button1" type="button" onclick="window.location.href= './create.html'">Create New</button>
 
    <table id="customers">
    
  <tr>
    <th>Date</th>
    <th>Courier ID</th>
    <th>From</th>
    <th>To</th>
    <th>Item</th>
    <th>Status</th>
    <th style="width: 250px;text-align: center"; class="center">Action</th>
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>Delivered</td>
    <td>
        <div class="tile_div">
    <a href="#">View</a>
    <a href="#">Edit</a>
    <a href="#" class="last">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
    
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>In Transit</td>
    <td>
        <div class="tile_div">
    <a href="#" id ="btn1">View</a>
    <a href="#" id = "btn2">Edit</a>
    <a href="#" class="last" onclick="myFunction();">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
  </tr>
  <tr>
    <td> 28th jan 2018</td>
    <td>001</td>
    <td>Germany</td>
    <td>Rwanda</td>
    <td>HPC088</td>
    <td>Delivered</td>\<td>
        <div class="tile_div">
    <a href="#">View</a>
    <a href="#">Edit</a>
    <a href="#" class="last">Cancel</a>
    <div class="clear"></div>
</div>   						
    </td>
  </tr>
  <tr>
      <td> 28th jan 2018</td>
      <td>001</td>
      <td>Germany</td>
      <td>Rwanda</td>
      <td>HPC088</td>
      <td>Delivered</td>\<td>
          <div class="tile_div">
      <a href="#">View</a>
      <a href="#">Edit</a>
      <a href="#" class="last">Cancel</a>
      <div class="clear"></div>
  </div>   						
      </td>
    </tr>
      <tr>
          <td> 28th jan 2018</td>
          <td>001</td>
          <td>Germany</td>
          <td>Rwanda</td>
          <td>HPC088</td>
          <td>Delivered</td>\<td>
              <div class="tile_div">
          <a href="#">View</a>
          <a href="#">Edit</a>
          <a href="#" class="last">Cancel</a>
          <div class="clear"></div>
      </div>   						
          </td>
        </tr>
</table>

 <!--Edit Modal-->
 <div id= "EditM" class="Modal">
  <!--Content-->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class= "wrapper">
    <h1 id="title-c" class="center-t"> Edit A Parcel</h1>
    <form>
      <div class="form-d">
      <input type="text" id ="Edit-From" class="Edit-input" placeholder="From" required>
      <input type="text" id ="Edit-To" class="Edit-input" placeholder="To" required>
      <input type="text" id ="Edit-RN" class="Edit-input" placeholder="Recepient Name" required>
      <input type="text" id ="Edit-RPN" class="Edit-input" placeholder="Phone Number" required>
      <button id='E-button' class="action-button" type='submit' onclick="window.location.href='./UserIn.html'">Save</button>
      </div>
    </form>

    </div>

     </div>

  </div>

  <!--View Modal-->
 <div id= "ViewM" class="Modal2">
    <!--Content-->
    <div class="modal-content2">
      <span class="close">&times;</span>
      <div class= "wrapper">
      <h1 id="title-c" class="center-t"> View A Parcel</h1>
      <form>
        <div class="form-d">
          
          <label for = "name"><strong> Sender Name:</strong>    Frank</label>
          <label for = "Email"> <strong>Email :</strong>   Frank@gmail.com</label>
          <label for = "Number"> <strong>Number:</strong>   07889875554</label>
          <label for = "name"><strong>Item Name:</strong>  Iphone</label>
          <label for = "name"><strong>From:</strong>  Kigali</label>
          <label for = "name"><strong>To:</strong> Gisenyi </label>
          <label for = "name"><strong>Status:</strong> In Transit </label>
          <label for = "name"> <strong>Receiver Name:</strong>  Brown</label>
          <label for = "name"><strong>Receiver Phone Number:</strong>   0786553234</label>
          
        <button id='E-button' class="action-button" type='submit' onclick="window.location.href='./UserIn.html'">Close</button>
        </div>
      </form>
  
      </div>
  
       </div>
  
    </div>

  
    

</body>
<script src= "../js/edit.js" ></script>
<script src="../js/view.js"></script>
<script>
  function myFunction() {
    confirm("Are You sure you want to cancel this Parcel");
}
</script>
</html>

